.navbar{
    width: 100%;
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.navbar>li img{
    width: 30px;
    height: 30px;
    border-radius: 15px;
}
.navbar>li:first-child>img:first-child{
    margin-right: -5px;
}
.navbar>li{
    position: relative;
    height: 100%;
}
.navbar>li:first-child::after{
    content: "VP by Muhammad H.";
    width: 300px;
    position: absolute;
    top: 50%;
    transform: translate( 0, -50%);
    margin-left: 10px;
    font-weight: 700;
}
.navbar>li:last-child>a{
    background-color: #008a59;
    color: #fff;
    padding: 5px;
    padding-right: 15px;
    display: flex;
    flex-flow: row;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
}
.navbar>li:last-child img{
    width: 20px;
    height: 20px;
}
