.not_found_sec{
    width: 100%;
    background-color: gray;
    text-align: center;
    padding: 50px 10px;
}
.not_found_sec>p:last-child{
    margin-top: 30px;
    font-size: 0.8rem;
}
.load_stream{
    padding: 220px 0;
    text-align: center;
    background-color: black;
    line-height: 30px;
    font-size: 30px;
    color: #fff;
}