.pro_sec{
    position: relative;
    width: calc(100% - 60px);
    margin: 30px;
    padding: 10px;
    border-radius: 50px;
    background-color: #dee4de;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}
.pro_sec>div{
    display: flex;
    flex-flow: row;
    align-items: center;
}
.pro_sec>div>img{
    height: 50px;
    border-radius: 25px;
    margin-right: 10px;
}
.pro_sec>div>h5{
    font-size: large;
    font-weight: 500;
    text-align: right;
    line-height: 15px;
}
.pro_sec>div>h5>samp{
    font-size:small;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 5px;
}
.pro_sec>ul{
    list-style: none;
    margin-right: 20px;
}
.pro_sec>ul li{
    float: right;
    display: flex;
    flex-flow: row;
}
.pro_sec>ul img{
    width: 20px;
    margin: 0 10px;
}

@media only screen and (max-width: 750px){
    .pro_sec>ul>li{
        font-size: small;
    }
}
@media only screen and (max-width: 680px){
    .pro_sec{
        flex-flow: column;
    }
    .pro_sec>ul{
        margin-right: 0;
        margin-top: 10px 0;
    }
}
@media only screen and (max-width: 430px){
    .pro_sec>ul{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%,50%);
        background-color: #008a59;
        border: 3px solid #fff;
        border-radius: 20px;
        padding: 5px 0;
    }
    .pro_sec>ul>li>p{
        display: none;
    }
    .pro_sec>ul>li>img{
        -webkit-filter: invert(100%);
        filter: invert(100%);
    }
}